.titulo{
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    margin-left: 100px;  
    margin-top: 60px;
    margin-bottom: 12px;
    padding: 30px;
    color: #00ccffd8;

}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 26%;
    border: solid rgba(0, 0, 0, 0.116) 1px;
    margin-bottom: 60px ;
    margin: 20px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.descricao-titulo{
    padding-top: 15px ;
    text-align: center;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
.card img{
    width: 100%;
    border-radius: 15px;
    height: 300px;
    object-fit: cover;
}
.card a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #00ccff56;
    font-style: normal;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}
.card a:hover{
    background-color: #00ccff;
}
.descricao{
    margin: 10px;
    font-size: 17px;
    font-family: "Oswald", sans-serif;
}
.titulo-2{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-top: 100px ;
    background-color: #00ccff71;
    padding: 70px;
    margin-bottom: 80px;
}
.pacotes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pacote-titulo{
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 15px;
}
.card-pacote{
background-color: #D9D9D9;
width: 27%;
border-radius: 30px;
}
.card-pacote img{
    width: 100%;
}
.pacote-desc{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 20px;
}
.pacote-preco{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    
    font-weight: 900;
}
.pacote-link{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    padding: 7px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: #00ccff56;
    font-style: normal;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.pacote-link:hover{
    background-color: #00ccff;
}
.art-erro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-rodape{
    background-color: #D9D9D9 ;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
    font-family: "Oswald", sans-serif; 

}