body {
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.texto {
    display: flex;
    justify-content: center;
    border: solid 2px #000;
    padding: 35px;
    font-size: xx-large;
    font-family: "Oswald", sans-serif;
}

.caixa {
    padding: 3px;
    font-size: larger;
    border: solid 2px #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
   
    margin-bottom: 15px;
    margin-top: 10px;
}

.info-pessoa {
    margin-left: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald", sans-serif;
}

.info-pessoa label {
    font-size: x-large;
    margin-top: 30px;
}

.escolha {

    display: flex;
    align-items: center;
    flex-direction: column;

}

#seleciona {
    border-radius: 14px;
    padding: 6px;
    width: 400px;
    height: 60px;
}

.forma-de-pagamento {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.promo {
    display: flex;
    align-items: center;
    align-content: space-around;
}
.pro:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.pro {
     
    text-align: center;
}
.titulo{
   margin-top: 30px;
   margin-bottom: 50px;

}
#titulo {
    margin-bottom: 70px;
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
    margin: 15px;
    margin-bottom: 40px;
}
#promocoes{
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
    margin: 15px;
    margin-bottom: 70px;
    height: 120px;
    width: 200px;
    text-align: center;
}

#desc {
    font-family: "Oswald", sans-serif;
}

 .info-primeira{
    display: flex;
    align-items: center;
    justify-content: space-around;

} 
.campos{
    margin-left: 25px;
}
.popular{
    margin-top: 20px;
}
.popular p{
    margin-bottom: 10px;
    font-size:20px;
}
.categorias{
    margin-top: 20px;
}
.categorias p{
    
    margin-bottom: 10px;
    font-size:20px;
}   
.container-rodape{
    background-color: #D9D9D9 ;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
    font-family: "Oswald", sans-serif; 

}
