

.cabeca-1 {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;  
}

.cabeca-1 img {
    height: 100%;
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    margin-left: 150px;
}

.cabeca-1 input {
    background-color: #848484;
    height: 30px;
    border: #848484;
    width: 90%;
    color: black;
    font-size: 17px;
}
.cabeca-1 input::placeholder {
    color: black;
}

.pesquisa {
    display: flex;
    background-color: #848484;
    height: 40px;
    align-items: center;
    width: 50%;
    border-radius: 50px;
}

.pesquisa img {
    height: 25px;
    width: 50px;
}

.conf-perf {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.conf-perf img {
    height: 40%;
    padding: 20px;
    
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin-left: 16px;
    transition: color 1s ease;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Oswald", sans-serif;   
    }

.menu_link:hover{
background-color: #7F7D7D;

    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

.cabeca-2{
height: 50px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #D9D9D9;

}

.menu_link{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: 400;
    }
    .menu_link_active{
background-color: #7F7D7D;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
font-weight: 400;
font-family: "Oswald", sans-serif;   
}
    .menu_link img{
        height: 20px;
        padding: 15px;

    }
    .menu_link_active img{
        height: 20px;
        padding: 15px;
    }
    .container-rodape{
        background-color: #D9D9D9 ;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
     
        font-family: "Oswald", sans-serif; 
    
    }
    .rodape-inicio{
       text-align: start;
        margin-top: 20px;
        width: 250px;
    }
    .icones :hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .icones{
        width: 30px;
        height: 45px;
        display: flex;
        justify-content: space-around;
    margin-top: 10px;
    
    }
    
    #titulo-rodape-populares{
        color: #63d0ff;
        font-size: 30px;
        margin-bottom: 20px;
    }
    #titulo-rodape-categorias{
        color: #63d0ff;
        font-size: 30px;
        margin-bottom: 20px;
    }
    #titulo-rodape-contato{
        color: #63d0ff;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .privacidade{
    background-color: #D9D9D9 ;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    align-items: center;
    
    
    }
    
    #agencia{
        font-size: 30px;
       margin-bottom: 10px;
       color: #63d0ff;
    }
    .contat{
        display: flex;
        align-items: center;
    }
    .contato{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .contato img{
        margin-right: 10px;
    }
    #redes{
        margin-top: 10px;
        font-size: 22px;
    }
    .icone-logo{
        height: 65px;
        width: 65px;
    }
    .titulo-logo{
        
        display: flex;
        justify-content: space-between;
    }
    #titulo-priva{
        margin: 50px 0px 40px 0px;
        font-size: 25px;
    }
    #titulo-privaci{
        margin: 50px 35px 40px 0px;
        font-size: 25px;
    }
    .informa{
    
        margin: 50px 0px 40px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icone-info{
        margin-right: 20px;
        height: 65px;
        width: 65px;
    
    }
    .campos{
        margin-left: 25px;
    }
    .popular{
        margin-top: 20px;
    }
    .popular p{
        margin-bottom: 10px;
        font-size:20px;
    }
    .categorias{
        margin-top: 20px;
    }
    .categorias p{
        
        margin-bottom: 10px;
        font-size:20px;
    }   
    